
<div class=" text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group col-5">
                <div *ngIf="login && login.invalid && (login.dirty || login.touched)" class="aler alert-danger">
                    <div *ngIf="login.errors?.required">
                        Login obligatoire.
                    </div>
                    <div *ngIf="login.errors?.pattern">
                        Nom d'utilisateur non valide! 
                    </div>                                     
                </div>
                <label for="login">Login</label>
                <input type="text" id="login" class="form-control" formControlName="login">            
            </div>
            <div class="form-group col-5">
                <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="aler alert-danger">
                    <div *ngIf="password.errors?.required">
                       Mot de passe non valide!
                    </div>                              
                </div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="form-control" formControlName="password">            
            </div>
        </div>        
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Connexion</button>
    </form>
</div>