<div class="card m-3">
    <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>Civilité</label>
                    <select formControlName="Civilite" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Civilite.errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    
                        <div *ngIf="f.Civilite.errors?.required" class="invalid-feedback">Title is required</div>
                    
                </div>
                <div class="form-group col-5">
                    <label>First Name</label>
                    <input type="text" formControlName="Nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nom.errors }" />
                        <div *ngIf="Nom.errors?.required" class="invalid-feedback">First Name is required</div>                   
                </div>
            </div>
                <div class="form-group">
                    <label>Prenom</label>
                    <input type="text" formControlName="Prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Prenom.errors }" />             
                        <div *ngIf="f.Prenom.errors?.required" class="invalid-feedback">Vous devez saisir un Prénom!</div>  
                        <div class="valid-feedback"> nice!</div>            
                </div>
            

            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="f.email.errors?.required" class="invalid-feedback">Veuillez saisir un email!</div>
            </div>
            <div class="form-group">
                <label>Login</label>
                <input type="text" formControlName="Login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Login.errors }" />
                <div *ngIf="f.Login.errors?.required" class="invalid-feedback">Veuillez saisir un Login!</div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="f.password.errors?.required" class="invalid-feedback">Veuillez saisir un mot de passe !</div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="f.password.errors?.required" class="invalid-feedback">Veuillez  confirmer votre mot de passe !</div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div>
