
<div *ngIf="validated == false">
<div class="card m-3">
    
    <h5 class="card-header">Formulaire Client</h5>
    <div class="card-body">
        <div>
        
        </div>
        <form  [formGroup]="registerForm"  (ngSubmit)="onSubmitForm()"  >
            <div class="form-row">
                <div class="form-group col-5">
                    <!-- Début Nom -->
                  <label for="Civilite">Civilite</label>
                  <select class="form-select" aria-label="Civilite"formControlName="Civilite" >
                   
                    <option value="Monsieur">Monsieur</option>
                    <option value="Madame">Madame</option>
                    
                  </select>
                  <!--Début  Erreurs -->
                  <div *ngIf="Civilite && Civilite.invalid && (Civilite.dirty || Civilite.touched)" class="aler alert-danger">
                    <div *ngIf="Civilite.errors?.required">
                        Civilite obligatoire
                   </div> 
                      
               </div>
   <!--Fin  Erreurs -->
                 
              </div>
               <!-- Fin Nom -->
              
          
                <div class="form-group col-5">
                      <!-- Début Nom -->
                    <label for="Nom">Nom</label>
                    <input type="text"  name="Nom" formControlName="Nom" id="Nom" class="form-control"   placeholder="Nom" required/>
                    <!--Début  Erreurs -->
                            <div *ngIf="Nom && Nom.invalid && (Nom.dirty || Nom.touched)" class="aler alert-danger">
                                 <div *ngIf="Nom.errors?.required">
                                             Nom obligatoire
                                </div> 
                                 <div *ngIf="Nom.errors?.pattern">
                                                Le nom ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                                 </div>     
                            </div>
                <!--Fin  Erreurs -->
                </div>
                 <!-- Fin Nom -->
                
            </div>
                <div class="form-group col-5">
                    <label for ="Prenom">Prenom</label>
                    <input type="text" id="Prenom" name="Prenom" formControlName="Prenom"   class="form-control" placeholder="Prenom" required/>             
                        <div class="invalid-feedback">Veuillez saisir un prénom uniquement composé de lettres!</div> 
                         <!--Début  Erreurs -->
                         <div *ngIf="Prenom && Prenom.invalid && (Prenom.dirty || Prenom.touched)" class="aler alert-danger">
                            <div *ngIf="Prenom.errors?.required">
                                Prenom obligatoire
                           </div> 
                            <div *ngIf="Prenom.errors?.pattern">
                                           Le prénom ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                            </div>     
                       </div>
                         <!--Fin  Erreurs --> 
                                   
                </div>
            
                <div class="form-group col-5">
                    <label>Pays</label>
                    <input type="text" id="Pays" name="Pays" formControlName="Pays"   class="form-control" placeholder="Pays"/>
                    <div class="invalid-feedback">Veuillez saisir un Pays valide!</div>
                     <!--Début  Erreurs -->
                     <div *ngIf="Pays && Pays.invalid && (Pays.dirty || Pays.touched)" class="aler alert-danger">
                        <div *ngIf="Pays.errors?.required">
                            Pays obligatoire
                       </div> 
                        <div *ngIf="Pays.errors?.pattern">
                                       Le Pays ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                               
                </div>

                <div class="form-group col-5">
                    <label>Adresse</label>
                    <input type="text" id="Adresse" name="Adresse" formControlName="Adresse"   class="form-control" placeholder="Adresse"/>
                    
                     <!--Début  Erreurs -->
                     <div *ngIf="Adresse && Adresse.invalid && (Adresse.dirty || Adresse.touched)" class="aler alert-danger">
                        <div *ngIf="Adresse.errors?.required">
                            Adresse obligatoire
                       </div> 
                        <div *ngIf="Adresse.errors?.pattern">
                                       L'adresse ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                </div>
                
                <div class="form-group col-5">
                    <label>CP</label>
                    <input type="text" id="CP" name="CP" formControlName="CP"   class="form-control" placeholder="CP"/>
                    
                     <!--Début  Erreurs -->
                     <div *ngIf="CP && CP.invalid && (CP.dirty || CP.touched)" class="aler alert-danger">
                        <div *ngIf="CP.errors?.required">
                            CP obligatoire
                       </div> 
                        <div *ngIf="CP.errors?.pattern">
                                       Le code postal ne doit contenir que des chiffres!
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                </div>

                <div class="form-group col-5">
                    <label>Email</label>
                    <input type="email" id="Email" name="Email" formControlName="Email"   class="form-control" placeholder="Email"/>
                    
                     <!--Début  Erreurs -->
                     <div *ngIf="Email && Email.invalid && (Email.dirty || Email.touched)" class="aler alert-danger">
                        <div *ngIf="Email.errors?.required">
                            Adresse obligatoire
                       </div> 
                        <div *ngIf="Email.errors?.pattern">
                                       L'adresse ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                    
                </div>
           
                
                <div class="form-group col-5">
                    <label>Telephone</label>
                    <input type="text" id="Telephone" name="Telephone" formControlName="Telephone"   class="form-control" placeholder="Telephone"/>
                    <div class="invalid-feedback">Veuillez saisir un Telephone valide!</div>
                    <!--Début  Erreurs -->
                    <div *ngIf="Telephone && Telephone.invalid && (Telephone.dirty || Telephone.touched)" class="aler alert-danger">
                        <div *ngIf="Telephone.errors?.required">
                            Adresse obligatoire
                       </div> 
                        <div *ngIf="Telephone.errors?.pattern">
                                       L'adresse ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                </div>

                <div class="form-group col-5">
                    <label>Login</label>
                    <input type="text" id="Login" name="Login" formControlName="Login"   class="form-control" placeholder="Login"/>
                   
                     <!--Début  Erreurs -->
                     <div *ngIf="Login && Login.invalid && (Login.dirty || Login.touched)" class="aler alert-danger">
                        <div *ngIf="Login.errors?.required">
                            Adresse obligatoire
                       </div> 
                        <div *ngIf="Login.errors?.pattern">
                                       L'adresse ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                </div>
                
                <div class="form-group col-5">
                    <label>Password</label>
                    <input type="text" id="Password" name="Password" formControlName="Password"   class="form-control" placeholder="Password"/>
                     <!--Début  Erreurs -->
                     <div *ngIf="Password && Password.invalid && (Password.dirty || Password.touched)" class="aler alert-danger">
                        <div *ngIf="Password.errors?.required">
                            Adresse obligatoire
                       </div> 
                        <div *ngIf="Password.errors?.pattern">
                                       L'adresse ne peut contenir que des lettres, des tirets, des points ou des espaces (>1)
                        </div>     
                   </div>
                     <!--Fin  Erreurs --> 
                </div>

            <div class="text-center">
                <button type="submit" id="form-submit" [disabled]="!registerForm.valid" class="btn btn-primary mr-1">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
    </div>

</div>



<div *ngIf="!registerForm.invalid && validated">
    <app-validation [newUser] = "newUser">
   
          
    </app-validation>
</div>

