<div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" [(ngModel)]="type">
</div>
<div class="row g-3" id="filters" >
  <div class="form-check form-check-inline col-auto">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="all" value="" [(ngModel)]="category" checked>
    <label class="form-check-label" for="all">All</label>
</div>
  <div class="form-check form-check-inline col-auto">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="cake" value="cake" [(ngModel)]="category">
      <label class="form-check-label" for="cake">cake</label>
  </div>
  <div class="form-check form-check-inline col-auto">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="shampoo" value="shampoo" [(ngModel)]="category">
      <label class="form-check-label" for="shampoo">shampoo</label>
  </div>
  
  <div class="form-check form-check-inline col-auto">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="meal" value="meal" [(ngModel)]="category">
      <label class="form-check-label" for="meal">meal</label>
  </div>
  
</div>
</div>
<div class="album py-5 bg-light">
<div class="card text-center" *ngFor="let product of ProductList | productPipe:type |productPipeCategory:category">
  <div>
    {{ product.id }}
  </div>
  <div>
    Nom : {{ product.name }} 
  </div>
  <div>
    Info : {{ product.info }}
  </div>
  <div>
    category : {{ product.category }}
  </div>
  <div>
      Prix : {{ product.price }} €
  </div>
  <div>
    
    <a class="nav-link" routerLink="/detail/detail/{{product.detail}}" >Details</a>
</div>
  <div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto"> 
      <button (click)="addProduct(product)">Ajouter</button>
    </div>
         
  </div>
</div>
</div>
</div>
<!--
  <table class="table table-hover">
    <tbody *ngFor="let product of ProductList | productPipe">
  <thead>
    <tr> 
      <th scope="col">Bath Bomb</th>
      <th scope="col"> Détail</th>
      <th scope="col">Commentaire</th>
      <th scope="col">ID</th>
      <th scope="col"> Prix </th>
    </tr>
  </thead>
  
    <tr class="table-active">
      <td> {{product.name}}</td>
      <a class="nav-link" routerLink="['/product', p.id]" >Details</a>
      <td>{{product.detail}}</td>
      <td>{{product.id}}</td>
      <td>{{product.price}}</td>  
      <td><button (click)="addProduct(product)" class="btn btn-orange" type="button">Ajouter</button></td>     
    </tr>
  </tbody>
</table>
-->
  <app-panier></app-panier>


